div.relative{
    position:relative;
    height: 0px;
    width: 310px;
    margin: 0;
    margin-left: -65px;
    /*z-index: 1000;*/
    /*border: 2px solid black;*/
}

/*defines the characteristics of bootstraps glyphicons*/
.glyphicon {
    font-size: 30px;
}

nav a.absolute,
nav button.absolute{
  background-color:black;
  margin: 0;
  height: 60px;
  width: 60px; 
  border-radius: 50%;
  box-shadow: rgba(0,0,0,.5) 1px 3px 3px;
  border: 1px solid black;
  opacity: 0.8;
  color: #d5d5d5; 
  position: absolute;
  display: none;
}

nav a:active{
    background-color:#FCC;
}

nav a:hover,
nav button:hover{
    background-color:#FCC;
    border-radius: 50%;
}

nav a.active{ 
   color: #0000ff;
   background-color: #b7b7ce;
   border-radius: 50%;      
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-item {
    margin: 12px;
}

.navbar-brand{
  height: 120px; 
  width: 120px;
  border-radius: 50%;
  vertical-align: middle;
  margin: auto;
  margin-top: 90px;
  box-shadow: rgba(0,0,0,.5) 1px 3px 3px;
  border: 1px solid black;
  background-color: black;
  opacity: 0.8;
  text-align: center;
    background-size: 150px 150px;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKWOXwpbTKUQT0ie9udCSFR3pq8smsTjcS9VkDSo0ndDoNZyKh");*/
}

.navbar-brand:hover{
    background-color:#FCC;
    border-radius: 50%;
    /*margin: auto;*/
    margin-top: 90px;
}   


